body{
  background-color: rgb(221, 214, 111);
}

header {
  height: 40vh;
}


.centerBody {
  height: 100px;
  display: flex;
  justify-content: center;
}

.center {
  width: 500px;
  --block-text-color: black;
  --block-background-color: white;
  --block-shadow-color: rgba(54, 37, 146, 0.808);

}


.hi{
  font-size: 30px;
  position: relative;
  right: 5px;
  bottom: 5px;
}


.centerText{
  font-family: arial;
  font-size: 24px;
  text-align: center;

  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enterButton {
  display: flex;
  justify-content: space-evenly;
}


.enterProfile {
  width: 150px;
  margin: 1px;
  --block-text-color: white;
  --block-background-color: black;
  --block-shadow-color: rgb(51, 34, 143);

  font-family: arial;
  font-size: 18px;
  text-align: center;

  display: flex;
  justify-content: space-evenly;
}

.enterGame {
  width: 150px;
  margin: 1px;
  --block-text-color: white;
  --block-background-color: black;
  --block-shadow-color: rgb(51, 34, 143);

  font-family: arial;
  font-size: 18px;
  text-align: center;

  display: flex;
  justify-content: space-evenly;
}