body {
  background: orange;
}

.secondPage {
  width: 180px;
  height: 30px;
  --block-background-color: grey;
  font-family: Arial;

}

header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.container {
  display: inline-block;
  justify-content: space-evenly;
}

.memo-container {
  display: flex;
}

.memobox {
  margin: 10px;

  width: 200px;
  height: 240px;

  --block-background-color: rgb(204, 169, 117);
}

.memobox {
  width: 150px;
  height: 350px;
  background: white;
  border: 5px solid black;

  padding: 5px;
  margin: 2px;

  font-family: arial;
  font-size: 18px;
  font-weight: bold;

}