@import url("https://fonts.googleapis.com/css?family=Abel");

html,
body {
  background: grey;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 850px;
  height: 550px;
  background: black;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;

  display: flex;
  justify-content: center;

  background: repeating-linear-gradient(
    45deg,
    #000 0,
    #000 5%,
    rgb(255, 255, 255) 5%,
    rgb(255, 255, 255) 10%
  );
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: black;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
  background: white;

  transition: 1s;
  -webkit-transition: 1s;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  font-size: 20px;

  background: black;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: black;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  background: white;
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 80%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 600px;
  float: right;
  position: relative;
  right: 60px;
  height: 100%;

  display: block;
  justify-content: center;
}

.card .additional .more-info h1 {
  color: black;
  margin-bottom: 0;
}

.card.black .additional .more-info h1 {
  color: black;
}

.card .additional .coords {
  margin: 0 1rem;
  color: black;
  font-size: 1rem;
}

.card.black .additional .coords {
  color: black;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: black;
}

.card.black .additional .stats {
  color: black;
}

.card .additional .stats {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.stats {
  display: flex;
  flex-wrap: wrap;
}

.card .additional img {
  position: relative;
  top: 65px;
  left: 25px;
  border-radius: 50%;
  width: 100px;
  height: auto;
}

.underline {
  height: 2px;
  width: 100%;
  background-color: black;
}

.underline,
h4 {
  position: absolute;
  left: 1px;
}

.msg-container {
  width: 800px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
}

#slider {
  display: inline-flex;
  transition: 0.5s;
}

.msg-col {
  width: 750px;
  height: 300px;

  display: block;
  flex-wrap: wrap;
}

.msg-col h2 {
  font-size: 40px;
}

.msg-col p {
  width: 500px;
  font-size: 15px;
  font-weight: bold;
}

.controller {
  width: 2px;
  height: 210px;
  display: block;
  background: black;
  position: absolute;
  top: 55%;
  right: 3%;
  transform: translateY(-50%);
}

#line1,
#line2,
#line3 {
  width: 5px;
  height: 70px;
  cursor: pointer;
  transform: translateX(-50%);
}

#active {
  width: 6px;
  height: 70px;
  border-radius: 5px;
  top: 0;
  transform: translateX(-50%);
  background: grey;
  position: absolute;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .card {
    width: 350px;
    height: 450px;
  }

  .card .additional {
    position: absolute;
    width: 110px;
    height: 100%;
    background: white;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }

  .card .additional .user-card {
    width: 110px;
    height: 100%;
    position: relative;
    float: left;
  }

  .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
}
