.container {
  width: 85vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  margin: 10px;
  color: black;
}

label {
  margin: 5px;
  color: black;
}

input {
  margin: 5px;
  border: 1px solid black;
}

.submitBtn {
  width: 150px;
  border: 1px solid black;
  border-radius: 20px;
  background: lightgreen;
  color: darkgreen;
}

.submitBtn:hover {
  background: darkgreen;
  color: lightgreen;
  border: 2px solid lightgreen;
}
