.navBar {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;

  height: 45px;
  width: 95vw;

  border: 1px solid white;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
}

.leftBtn {
  margin: 10px;
  width: 80px;
  border: 1px solid white;
  border-radius: 20px;
  background: darkgreen;
  color: lightgreen;

  display: inline-flex;
  justify-content: center;
}

.rightBtn {
  margin: 10px;
  width: 80px;
  border: 1px solid white;
  border-radius: 20px;
  background: lightgreen;
  color: darkgreen;

  display: inline-flex;
  justify-content: center;
}
