.container {
  margin: 0;
  text-align: center;

  color: black;
  font-weight: bold;

  width: 30vw;
}

.listContent {
  margin: 20px;
  color: lightcoral;
  font-weight: bold;
  font-size: 24px;

  width: 80vw;
}
