.container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.todoList {
  width: 50vw;
}

fieldset {
  border: 2px solid white;
  border-radius: 30px;
}

.header {
  color: rgba(0, 0, 255, 0.45);
  text-align: center;
  width: 70px;
  font-size: 16px;
}

.listItem {
  margin: 5px;
  display: grid;
  color: rgba(0, 0, 0, 0.5);
}

.inputText {
  font-size: 18px;
  height: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBtn {
  margin: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 18px;
  height: 36px;
  width: 40vw;
}

.delBtn {
  margin: 20px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  height: 30px;
  width: 40vw;
}
