:root{
  background-color:rgb(85, 85, 85);
  border-radius: 5px;
  margin: auto;
  padding: auto;
  position: static;
}
  body{
    background-color: rgba(170, 207, 255, 0.5);
    border-radius: 5px;
    position: static;
  }

  .header{
    margin: 1px;
    padding: 1px;
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  .title{
    font-family: Arial Rounded MT Bold;
    color: rgb(8, 60, 0);
    font-weight: bold;
    font-size: 30px;

    margin: 1px;
    padding: 0;
  }
  header{
    font-family: Helvetica;
    color: rgb(25, 80, 225);
    font-weight: bold;
    font-size: 28px;
    margin: auto;
    padding: auto;
  }

  .jumpbox{
    margin: 1px;
    padding: 0;
    position: relative
  }
  .jumpbox:before{
    content: ''; /* 必須加上，否則無法顯示 */
    top: 100px;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(50deg,rgb(80, 80, 250),rgb(0, 100, 45)); /* 兩種顏色漸變效果 */
    position: absolute;

    animation-name: jumpingbox;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear; /* 線性效果，減少動畫卡頓感 */
  }
  .jumpbox:after{
    content: '';
    top: 80px;
    left: 50px;
    width: 60px;
    height: 5px;
    border-radius: 99%;
    background: rgb(104,104,104);
    position: absolute;

    animation-name: shadow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  @keyframes jumpingbox {
    0%{
      top: 20px;
      transform: rotate(0deg);
    }

    50%{
      border-bottom-radius: 25px;
      top: 1px;
      transform: rotate(180deg);

    }
    100%{
      top: 20px;
      transform: rotate(360deg);
    }


  }
  @keyframes shadow {
    0%, 100%{
      width: 55px;
      height: 5px;
    }
    50%{
      left: 55px;
      width: 40px;
      height: 3px;
    }
  }

  .container{
    display: flex;
    justify-content: space-evenly;
  }
  
  .box1{
    background-color: grey;
  
    width: 95%;
    height: 60px;
  
    margin: 10px;
    padding: 10px;
  
    border: 3px solid black;
    border-radius: 10px;
  
    box-sizing: border-box;
  }


  p{
    text-align: center;
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 15px;
    font-family: Arial Rounded MT Bold
  }

  h3{
    text-align: center;
    font-size: 24px;
  }
  
  .outta-box{
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  h2{
    font-family: Arial Rounded MT Bold;
    font-size: 34px;
  }

  .form{
    background-color: orange;
    width: 85%;
    height: 600px;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid black;
  }
  .indexform{
    width: 85%;
    height: 80%;
    background-color: yellow;
    margin: auto;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    border: 3px solid black;
  }

  foot{
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;


    color: blue;
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 18px;

    position: sticky;
    bottom: 5px;

  }

  .animation1{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;

    background: #ffffff;
    transition: 1s; /* 做到漸變綠色效果 */

  }
  .animation1:hover{
    background: rgb(10, 65, 40);
    border-radius: 25%;
  }

  .animation2{
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;

    background: white;


    animation-name : moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

  }
  .animation2:hover{
    animation-play-state: paused;
  }

@keyframes moving {
  from { left: 0% ; bottom: 5%; background-color: orange; }
  to { left: 70% ; bottom: 5%; background-color: yellow; }
}