@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background: rgb(105, 213, 255);
}
