body {
  margin: 0;
  padding: 0;
}

#canvas {
  display: block;
}

.speedControl {
  margin-top: 5px;
  margin-left: 15px;
  font-family: arial;
  font-weight: bold;
  font-size: 18px;
}

.start,
.reset {
  margin: 5px;
}

.Box {
  font-weight: bold;
  margin: 10px;

  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.count {
  margin: 10px 30px 10px 10px;
}


.popula,
.color {
  position: relative;
  margin: 5px;
  padding: 2px;

  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.poptext,
.colortext {
  text-align: center;
}

.colorgroup {
  display: flex;
  justify-content: flex-start;
}

.colorgroup .red {
  color: red;
  background-color: red;
}

.colorgroup .yellow {
  color: yellow;
  background-color: yellow;
}

.colorgroup .green {
  color: green;
  background-color: green;
}

.colorgroup .blue {
  color: blue;
  background-color: blue;
}

.colorgroup .purple {
  color: purple;
  background-color: purple;
}

@media screen and (min-width: 500px) and (max-width: 910px) {
  #canvas {
    height: 400px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

}